<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{email.password.reset.title}">JiraRush - Set New Password</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{email.password.reset.greeting(${user.firstName})}">Hello, User.</p>
<p th:text="#{email.password.reset.message(${user.email})}">We received a request to set a new JiraRush password for account: user@email.com.</p>
<a th:href="${resetUrl}" th:text="#{email.password.reset.button}">Set Password</a>
</body>
</html>